body{
  font-family: Roboto, "Open Sans", sans-serif;
  background-color: #F4F7F6;
  margin:0;
}

a{
  color: black;
  text-decoration: none;
}

header{
  text-align: center;
  background: #1D1D1D;
  color: #FFFFFF;
  padding-bottom: 30px;
}

section{
  text-align: center;
  margin-top: 50px
}

ul{
  padding: 0;
  display: inline;
}

li:hover{
  font-weight: bold;
  margin
}

nav{
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0px 3px 1px -1px rgba(0, 0, 0, 0.5);
  font-size: 1.5em;
  padding: 15px;
}

li{
    display: inline;
    list-style-type: none;
    margin: 15px;
}

h3:before{
  content: "« ";
  color: grey;
}

h3{
    font-size: 1.5em;
    text-transform: uppercase;
}

h3:after{
  content: " »";
  color: grey;
}

h2{
  font-size: 1.5em;
  width: 400px;
  margin: auto;
}

h1{
  margin-top: 0;
  padding-top: 30px;
}

footer{
  background: #1D1D1D;
  color: #FFFFFF;
  text-align: center;
  padding: 15px;
}

#contact{
  border:1px #000000 solid;
  border-radius: 15px;
  padding: 30px;
  margin-bottom: 50px;
}

.emailBold{
  font-weight: bold;
}

#logo{
  margin-top: 30px;
  width: 100px;
}

.separator{
  width: 40px;
  height: 1px;
  margin: 15px auto;
  display: block;
  background: #999999;
}

.container{
  width: 80%;
  margin: auto;
}

#projet{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projets{
  width: 400px;
  margin: 30px;
  display: inline-block;
  background: #FFFFFF;
  padding-bottom: 15px;
  border: 0px #000000 solid;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.projets:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: 0.5s;
}

.projets img{
  min-width: 400px;
  height: 266px
}

.picture{
  width: 400px;
  height: 266px;
  overflow: hidden;
  margin-bottom: 15px;
}

.projets span{
  text-transform: uppercase;
  display: block;
}

.projets .date-project{
  font-size: 0.7em;
}


/* Media */
@media all and (max-width: 320px) {
  h2{
    width: 100%;
  }
  .projets {
    width: 100%
  }
  .projets img{
    width: 100%;
    min-width: auto;
    height: auto;
  }
  .projets .picture{
    width: 100%;
    height: auto;
  }
  #video-project iframe{
    width: 100%;
    height: auto;
  }
  nav{
    font-size: 1.2em;
  }
}

@media all and (max-width: 375px) {
  h2{
    width: 100%;
  }
  .projets {
    width: 100%;
  }
  .projets img{
    width: 100%;
    min-width: auto;
    height: auto;
  }
  .projets .picture{
    width: 100%;
    height: auto;
  }
  #video-project iframe{
    width: 100%;
    height: auto;
  }
}

@media all and (max-width: 414px) {
  h2{
    width: 100%;
  }
  .projets {
    width: 100%
  }
  .projets img{
    width: 100%;
    min-width: auto;
    height: auto;
  }
  .projets .picture{
    width: 100%;
    height: auto;
  }
  #video-project iframe{
    width: 100%;
    height: auto;
  }
}
